nav{
    position: fixed;
    height: 100dvh;
    background: #EDEDED;
    padding: 20px;
    left: 0;

    .links{
        img{
            padding: 17px;
            // background: #ffffff;
        }
    }
}